.animatedContainer-2laTjx, .bannerImage-ubW8K- {
    border-radius: 10px 0 0 0;
}
.container-1-ERn5 {
    background: #2f3136;
}
.wrapper-1_HaEi {
    background-color: #2f3136;
}

.theme-dark .progressBarContainer-1efroK {
    background-color: var(--background-tertiary);
}
.progressBar-2yl2pi {
    background: linear-gradient(90deg,#3ba55c,#62c781);
}
.theme-dark .container-YkUktl {
    background: #292b2f;
}
.header-3OsQeK {
    box-shadow: none !important;
    background: var(--background-primary);
}
.container-2giAcK:after {
    box-shadow: var(--elevation-low);
    border-bottom: 1px solid transparent;
    left: 0;
}
.containerWithMargin-1CVXAM {
    margin-bottom: 6px;
}
.sectionDivider-189lqb {
    margin-left: 0;
}
.scroller-3X7KbA {
    background: #202225;
}
.link-1_kTxV {
    border-radius: 8px;
}
.link-1_kTxV {
    padding: 7px 8px;
}
.container-32HW5s {
    border-radius: 8px;
}
.privateChannels-oVe7HL {
    background: var(--background-primary);
}
.icon-2xnN2Y {
    color: #a3a6aa;
}

