@media only screen and (max-width: 990px) {
    .sidebar-1tnWFu {
        width: 72px;
        transition: width 1s;
    }
    .sidebar-1tnWFu:hover {
        width: 240px;
    }
    .members-3WRCEx {
        width: 72px;
        transition: width 1s;
    }
    .members-3WRCEx:hover {
        width: 240px;
    }
    .membersWrap-3NUR2t {
        min-width: auto;
    }
  }