/* Credits to the Dicease for making theme Float */
@import url(https://raw.githubusercontent.com/longjohnpeter/Discord-themes/master/Modules/fleet.css);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --1-background: #0d0f18;
    --2-background: #0b0d16;
    --3-background: #0f111a;
    --1-fore: #a5b6cf;
    --1-outline: #30363d;
    --2-outline: rgba(0, 0, 0, 0.5);
    --1-button-color: #86aaec;
    --1-button-background: rgba(134, 170, 236, 0.15);
    --1-green: #90ceaa;
}

* {font-family: 'Space Mono', monospace !important;}

.chatContent-3KubbW {
    background: var(--1-background);
}
.theme-dark .container-1NXEtd {
    background: var(--2-background) !important;
}
.wrapper-1_HaEi {
    background-color: var(--1-background) !important;
}

.sidebar-1tnWFu {
    background: var(--2-background);
}
.panels-3wFtMD {
    background: transparent;
}
.theme-dark .container-YkUktl {
    background: var(--3-background);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}

.scrollableContainer-15eg7h {
    background: var(--3-background);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    border-color: var(--1-outline);
    border-style: solid;
}

.barBase-3xxDXu {
    left: auto;
    right: 16px;
}
.barButtonMain-2GIx4o, .span-3lFnWr {
    display: none;
}
.jumpToPresentBar-1cEnH0 {
    background-color: var(--1-outline);
}
.theme-dark .form-3gdLxP:before {
    background: none;
}
.layer-86YKbF.baseLayer-W6S8cY {
    background-color: var(--1-background);
}
.communityInfoVisible-3zc5_s .communityInfo-3YsNIn {
    color: var(--1-button-color);
}
.communityInfoPill-2Mll66 {
    background: var(--1-background);
}

.px-MnE_OR.botTag-7aX5WZ {
    border-radius: 10px;
}
.botTagRegular-kpctgU {
    background: var(--1-button-background);
    color: var(--1-button-color);
}
.theme-dark .themed-Hp1KC_ {
    background: var(--1-background);
}
.searchBar-jGtisZ {
    background: var(--3-background);
    border-width: 1px;
    border-color: var(--1-outline);
    border-style: solid;
}
.markup-eYLPri {
    color: var(--1-fore);
}
.member-48YF_l, .members-3WRCEx {
    background: var(--2-background);
}
.theme-dark .children-3xh0VB:after {
    background: none;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background: var(--1-button-background);
    background-image: linear-gradient(90deg, rgba(134,170,236,1) 0%, rgba(134,170,236,1) 3%, rgba(255,255,255,0) 3%);
}
.content-1gYQeQ {
    border-radius: 2px 6px 6px 2px;
}
.childWrapper-1j_1ub {
    background-color: var(--1-button-background);
    color: var(--1-fore);
}
.expandedFolderBackground-1kSAf6 {
    background-color: var(--1-button-background);
}
.privateChannels-oVe7HL {
    background: var(--3-background);
}
.theme-dark .scroller-WSmht3 {
    background: var(--2-background);
}
.menu-2TXYjN {
    box-shadow: none;
    background: var(--2-background);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--2-outline);
}
.wrapper-2vIMkT {
    box-shadow: none;
    background: var(--2-background);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--2-outline);
}
.container-2o3qEW {
    background: var(--2-background);
}
.folder-241Joy {
    background-color: var(--1-button-background);
}
.circleIconButton-1VxDrg {
    color: var(--1-green);
    background-color: var(--1-button-background);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
    color: var(--1-background);
    background-color: var(--1-green);
}
.theme-dark .tooltipPrimary-2466a2, .theme-light .tooltipPrimary-2466a2 {
    background: var(--2-background);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--2-outline);
}
.theme-dark .tooltipPrimary-2466a2 .tooltipPointer-sMBQqe, .theme-light .tooltipPrimary-2466a2 .tooltipPointer-sMBQqe {
    border-top-color: var(--2-outline);
}
.auto-2TJ1RH::-webkit-scrollbar-thumb {
    background-color: var(--3-background);
}
.auto-2TJ1RH::-webkit-scrollbar-track {
    background-color: var(--2-background);
}
.container-q97qHp {
    color: var(--1-fore);
}
.membersGroup-2eiWxl {
    padding: 5px;
    height: auto;
    background: var(--3-background);
    border-radius: 6px;
    margin: 8px;
}