/* Credits to the Dicease for making theme Float */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/zFloat.theme.css);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --1-background: #0d0f18;
    --2-background: #0b0d16;
    --3-background: #0f111a;
    --1-fore: #a5b6cf;
    --1-outline: #30363d;
    --1-button-color: #86aaec;
    --1-button-background: #1e2637;
}

* {font-family: 'Space Mono', monospace !important;}

.chatContent-3KubbW {
    background: var(--1-background);
}
.theme-dark .container-1NXEtd {
    background: var(--2-background) !important;
}
.wrapper-1_HaEi {
    background-color: var(--1-background) !important;
}

.sidebar-1tnWFu {
    background: var(--2-background);
}
.panels-3wFtMD {
    background: transparent;
}
.theme-dark .container-YkUktl {
    background: var(--3-background);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}

.scrollableContainer-15eg7h {
    background: var(--3-background);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    border-color: var(--1-outline);
    border-style: solid;
}

.barBase-3xxDXu {
    left: auto;
    right: 16px;
}
.barButtonMain-2GIx4o, .span-3lFnWr {
    display: none;
}
.jumpToPresentBar-1cEnH0 {
    background-color: var(--1-outline);
}
.theme-dark .form-3gdLxP:before {
    background: none;
}
.layer-86YKbF.baseLayer-W6S8cY {
    background-color: var(--1-background);
}
.communityInfoVisible-3zc5_s .communityInfo-3YsNIn {
    color: var(--1-button-color);
}
.communityInfoPill-2Mll66 {
    background: var(--1-background);
}

.px-MnE_OR.botTag-7aX5WZ {
    border-radius: 10px;
}
.botTagRegular-kpctgU {
    background: var(--1-button-background);
    color: var(--1-button-color);
}