@import url(https://raw.githubusercontent.com/longjohnpeter/Discord-themes/master/Modules/fleet.css);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

    --background: #202122;
    --border: #3d3e3f;
    --foreground: #e7e7e7;
    --second-fore: #bababb;
    --accent: #804fb3;
}

.chatContent-3KubbW {
    background-image: url('https://invent.kde.org/teams/vdg/issues/uploads/da9721b506fbf1b3a6e67143e1b72e7e/ResampledImageNIGHTMODE.png');
}
.messagesWrapper-RpOMA3, .scrollerContent-2SW0kQ {
    width: 700px;
    margin: auto;
    background: var(--background);
    border: 1px solid var(--border);
}

.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb {
    display: flex;
    flex-direction: column;
}

.scrollableContainer-15eg7h {
    background: transparent;
}

.channelTextArea-1FufC0 {
    margin-bottom: 0;
    background-color: var(--background);
    height: 100%;
}

.form-3gdLxP {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    height: 56px;
    border-top: 1px solid var(--border);
}

.sansAttachButton-1ERHue {
    padding-left: 0;
    width: 720px;
    margin: auto;
}

.channelTextArea-1VQBuV {
    border-radius: 0;
}

.theme-dark .container-YkUktl {
    background: var(--background);
    border-top: 1px solid var(--border);
}
.container-YkUktl {
    height: 56px;
}

.container-ZMc96U {
    height: 45px;
    --__header-bar-background: var(--background);
    border-bottom: 1px solid var(--border);
}
.searchBar-3TnChZ {
    border-bottom: 1px solid var(--border);
    height: 45px;
    box-shadow: none;
}