:root {
    --bg: #2c3333;
    --bg-dim: #232828;
    --clr: #95d5b2;
    --clr-dim: #84a98c;
    --clr-2: #e9f5db;
}
.theme-dark .container-1NXEtd {
    background: var(--bg);
}
.modeSelected-3DmyhH .link-1_kTxV, .modeSelected-3DmyhH:hover .link-1_kTxV {
    background: var(--bg-dim);
    border: 1px solid var(--clr);
}
.modeConnected-NrO4cP .name-28HaxV, .modeConnected-NrO4cP:hover .name-28HaxV, .modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV, .modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV, .notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
    color: var(--clr);
}
.link-1_kTxV {
    padding: 5px 2px;
}
.iconContainer-21RCa3 {
    display: none;
}

.chat-2ZfjoI {
    background-color: var(--bg);
}

.header-3OsQeK {
    box-shadow: none;
}

.theme-dark .themed-Hp1KC_{
    background: transparent;
}

.container-2o3qEW {
    background: transparent;
}

.member-48YF_l, .members-3WRCEx {
    background: transparent;
}

.content-1jQy2l:before {
    display: none;
}

.privateChannels-oVe7HL {
    background: var(--bg);
}
.theme-dark .scroller-WSmht3 {
    background: transparent;
}

.scrollableContainer-15eg7h {
    background: var(--bg);
    border: 1px solid var(--clr);
    border-radius: 2px ;
}

.sidebar-1tnWFu {
    border: 1px solid var(--clr);
}
.theme-dark .container-YkUktl {
    background: var(--clr);
}
.button-12Fmur {
    color: var(--bg-dim);
}
.title-338goq {
    color: var(--bg-dim);
}
.newMessagesBar-1hF-9G {
    border-radius: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: var(--clr);
}
.barButtonBase-Sk2mdB {
    color: var(--bg-dim);
}

.quickswitcher-pKcM9U {
    background-color: var(--bg);
    border-radius: 0;
    border: 1px solid var(--clr);
    padding: 5px;
}
.scroller-2qwVWY {
    margin-right: 0;
    background-color: var(--bg-dim);
}
.input-3r5zZY {
    background-color: transparent;
    border: 1px solid var(--clr);
}
.chatContent-3KubbW {
    background: var(--bg);
}
.wrapper-1_HaEi {
    background-color: var(--bg-dim);
}
.jumpToPresentBar-1cEnH0 {
    border-radius: 0;
    background-color: var(--clr);
}
.markup-eYLPri {
    color: var(--clr-2);
}
.username-h_Y3Us {
    color: var(--clr);
}
.cozy-VmLDNB .timestamp-p1Df1m {
    color: var(--clr-dim);
}
.clickable-ZD7xvu .icon-2xnN2Y {
    color: var(--clr);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--bg-dim);
    border-radius: 0;
    box-shadow: none;
}
.strikethrough-2Kl6HF {
    color: var(--bg);
}
.theme-dark .progressBarContainer-1efroK {
    background-color: var(--bg-dim);
}
.progressBar-2yl2pi {
    background: var(--clr);
}
.bar-H6j3_Q {
    border-radius: 0;
}
.circleIconButton-1VxDrg {
    color: var(--clr);
    background-color: var(--bg);
}
.wrapperSimple-2SFl9K {
    border-radius: 0;
}
.tutorialContainer-2jwoiB {
    background: var(--bg);
}